{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
  <div class="container">
    <br>
    <h2 align="center">Commercials</h2>
    <br>
    <div class="card-deck">
      <div class="card">
        <img src="{% static 'photosite/image7.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Event at Infoview</h5>

        </div>

      </div>
      <div class="card">
        <img src="{% static 'photosite/image8.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Event at Infosys</h5>

        </div>

      </div>
      <div class="card">
        <img src="{% static 'photosite/image3.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Event at TCS</h5>

        </div>

      </div>

    </div><br>
      <div class="card-deck">
      <div class="card">
        <img src="{% static 'photosite/image7.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Event at Infoview</h5>

        </div>

      </div>
      <div class="card">
        <img src="{% static 'photosite/image8.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Event at Infosys</h5>

        </div>

      </div>
      <div class="card">
        <img src="{% static 'photosite/image3.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Event at TCS</h5>

        </div>

      </div>

    </div><br>

  </div>
</div>
{% endblock %}